{% load static %}
{% load base64_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paquetes Registrados</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/edicion-usuarios.css">
</head>
<body>
    <a href="../templates/index.html"><button class="back-button">Regresar</button></a>
    <div id="general-container">
        <div id="title">Usuarios Registrados</div>
        <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search">
        </div>
        <div id="packages-container">
            <div class="package">
                <i class="fa-solid fa-envelope" id="icon"></i>
                <p class="user">Usuario 1</p>
                <div class="update-container">
                    <button class="edit">Editar</button>
                    <div class="update-panel hidden">
                        <div class="packages-info">
                            <p class="packages-text">Nombre: <span class="editable">Andres</span></p>
                            <p class="packages-text">Cedula: <span class="editable">101724593</span></p>
                            <p class="packages-text">Rol:
                                <select>
                                    <option disabled>Seleccionar</option>
                                    <option>Distribuidor</option>
                                    <option>Cliente</option>
                                </select>
                            </p>
                            <p class="packages-text">Contraseña: <span class="editable" id="password">12345</span></p>
                        </div>
                    <button class="guardar">Guardar Cambios</button>
                  </div>
                </div>
              </div>

              <div class="package">
                <i class="fa-solid fa-envelope" id="icon"></i>
                <p class="user">Usuario 1</p>
                <div class="update-container">
                    <button class="edit">Editar</button>
                    <div class="update-panel hidden">
                        <div class="packages-info">
                            <p class="packages-text">Nombre: <span class="editable">Mateo</span></p>
                            <p class="packages-text">Cedula: <span class="editable">1017853456</span></p>
                            <p class="packages-text">Rol:
                                <select>
                                    <option disabled>Seleccionar</option>
                                    <option>Distribuidor</option>
                                    <option>Cliente</option>
                                </select>
                            </p>
                            <p class="packages-text">Contraseña: <span class="editable" id="password">12345</span></p>
                        </div>
                    <button class="guardar">Asignar Paquete</button>
                  </div>
                </div>
              </div>

              <div class="package">
                <i class="fa-solid fa-envelope" id="icon"></i>
                <p class="user">Usuario 1</p>
                <div class="update-container">
                    <button class="edit">Editar</button>
                    <div class="update-panel hidden">
                        <div class="packages-info">
                            <p class="packages-text">Nombre: <span class="editable">Pablo</span></p>
                            <p class="packages-text">Cedula: <span class="editable">1010205636</span></p>
                            <p class="packages-text">Rol:
                                <select>
                                    <option disabled>Seleccionar</option>
                                    <option>Distribuidor</option>
                                    <option>Cliente</option>
                                </select>
                            </p>
                            <p class="packages-text">Contraseña: <span class="editable">12345</span></p>
                        </div>
                    <button class="guardar">Asignar Paquete</button>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <script src="../static/js/edicion-usuarios.js"></script>
</body>
</html>