<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edicion De Paquetes</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/edicion-paquetes.css">
</head>
<body>
    <a href="../templates/index.html"><button class="back-button">Regresar</button></a>
    <div id="general-container">
        <div id="title">Paquetes Registrados</div>
        <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search">
        </div>
        <div id="packages-container">
            <div class="package">
                <i class="fa-solid fa-envelope" id="icon"></i>
                <p class="package-id">#111</p>
                <div class="update-container">
                    <button class="edit">Editar</button>
                    <div class="update-panel hidden">
                        <div class="packages-info">
                            <p class="packages-text">Nro Guia: <span class="editable">#111</span></p>
                            <p class="packages-text">Destino: <span class="editable">Medellin</span></p>
                            <p class="packages-text">Valor<span class="editable">10.000$</span></p>
                        </div>
                    <button class="guardar">Guardar Cambios</button>
                  </div>
                </div>
              </div>

              <div class="package">
                <i class="fa-solid fa-envelope" id="icon"></i>
                <p class="package-id">#111</p>
                <div class="update-container">
                    <button class="edit">Editar</button>
                    <div class="update-panel hidden">
                        <div class="packages-info">
                            <p class="packages-text">Nro Guia: <span class="editable">#222</span></p>
                            <p class="packages-text">Destino: <span class="editable">Bogota</span></p>
                            <p class="packages-text">Valor<span class="editable">11.000$</span></p>
                        </div>
                    <button class="guardar">Asignar Paquete</button>
                  </div>
                </div>
              </div>

              <div class="package">
                <i class="fa-solid fa-envelope" id="icon"></i>
                <p class="package-id">#111</p>
                <div class="update-container">
                    <button class="edit">Editar</button>
                    <div class="update-panel hidden">
                        <div class="packages-info">
                            <p class="packages-text">Nro Guia: <span class="editable">#333</span></p>
                            <p class="packages-text">Destino: <span class="editable">Cali</span></p>
                            <p class="packages-text">Valor<span class="editable">9.000$</span></p>
                        </div>
                    <button class="guardar">Asignar Paquete</button>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <script src="../static/js/edicion-paquetes.js"></script>
</body>
</html>