<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Web</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div class="options">
        <h2 class="title">Menu Principal</h2>
        <a href="../templates/registrar-usuarios.html"><button>Registrar Nuevo Usuario</button></a>
        <a href="../templates/registrar-paquetes.html"><button>Registrar Nuevo Paquete</button></a>
        <a href="../templates/paquetes-asignados.html"><button>Actualizar Estado Paquetes</button></a>
        <a href="../templates/paquetes-registrados.html"><button>Asignacion De Paquetes</button></a>
        <a href="../templates/usuarios-registrados.html"><button>Desactivación de Usuarios</button></a>
        <a href="../templates/edicion-paquetes.html"><button>Edición de Paquetes</button></a>
        <a href="../templates/edicion-usuarios.html"><button>Edición de Usuarios</button></a>
        <a href="../templates/entregas-usuarios.html"><button>Historial De Entregas Por Usuario</button></a>
        <a href="../templates/historial-entregas.html"><button>Historial De Entregas</button></a>
        <a href="../templates/ingresos generados.html"><button>Ingresos Generados</button></a>
    </div>
</body>
</html>