<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paquetes Registrados</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Styles/paquetes-registrados.css">
</head>
<body>
    <a href="/Views/index.html"><button class="back-button">Regresar</button></a>
    <div id="general-container">
        <div id="title">Paquetes Registrados</div>
        <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search">
        </div>
        <div id="packages-container">
            <div class="package">
                <i class="fa-solid fa-envelope" id="icon"></i>
                <p class="package-id">#111</p>
                <div class="update-container">
                    <button class="assign">Asignar</button>
                    <div class="update-panel hidden">
                        <label>Nuevo Estado:</label>
                        <select class="state-select">
                            <option value="">Selecciona Usuario</option>
                            <option value="user1">Usuario 1</option>
                            <option value="user2">Usuario 2</option>
                            <option value="user3">Usuario 3</option>
                        </select>
                    <button class="guardar">Asignar Paquete</button>
                  </div>
                </div>
              </div>

              <div class="package">
                <i class="fa-solid fa-envelope" id="icon"></i>
                <p class="package-id">#111</p>
                <div class="update-container">
                    <button class="assign">Asignar</button>
                    <div class="update-panel hidden">
                        <label>Asignar Paquetes:</label>
                        <select class="state-select">
                            <option value="">Selecciona Usuario</option>
                            <option value="user1">Usuario 1</option>
                            <option value="user2">Usuario 2</option>
                            <option value="user3">Usuario 3</option>
                        </select>
                    <button class="guardar">Asignar Paquete</button>
                  </div>
                </div>
              </div>

              <div class="package">
                <i class="fa-solid fa-envelope" id="icon"></i>
                <p class="package-id">#111</p>
                <div class="update-container">
                    <button class="assign">Asignar</button>
                    <div class="update-panel hidden">
                        <label>Nuevo Estado:</label>
                        <select class="state-select">
                            <option value="">Selecciona Usuario</option>
                            <option value="user1">Usuario 1</option>
                            <option value="user2">Usuario 2</option>
                            <option value="user3">Usuario 3</option>
                        </select>
                    <button class="guardar">Asignar Paquete</button>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <script src="/Js/paquetes-registrados.js"></script>
</body>
</html>