*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D3B8E4;
    color: white;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body * {
    font-family: "Poppins", sans-serif;
}

.back-button {
    cursor: pointer;
    border: 1px solid #A984D8;
    background-color: #A984D8;
    color: white;
    width: 9rem;
    height: 2.5rem;
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    top: 1;
    margin: 1rem;
}

#general-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    text-align: center;
    height: 2rem;
    width: 25rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: none;
    background-color: #A984D8;
    color: white;
    font-size: 1.4rem;
    border-radius: 10px;
}

.dates-select, .packages-select, .users-select {
    align-self: flex-start;
    margin-top: 1rem;
    border: none;
    border-radius: 10px;
    width: 9rem;
}

.date-income {
  font-size: 18px;
  margin-top: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;background-color: white;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.date-income * {
    color: #000;
}

.date-info {
  font-size: 20px;
}

.package-id{
  cursor: pointer;
  margin-left: 10px;
  font-size: 18px; 
}

.package-details {
    margin-left: 10px;
    font-size: 14px;
}

.hidden {
  display: none;
}

.total-buttons {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

#total-income, #total-value {
  border: none;
  border-radius: 5px;
}

#total-income {
  margin-right: 1rem;
  text-align: center;
  width: 10rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: none;
  background-color: #A984D8;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}

#total-value {
  text-align: center;
  width: auto;
  padding: 0.5rem;
  margin-top: 0.5rem;border: none;
  background-color: white;
  color: gray;
  font-size: 14px;
  border-radius: 10px;
}

#document-btn {
  margin-top: 1rem;
  text-align: center;
  width: 10rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: none;
  background-color: #A984D8;
  color: white;
  font-size: 14px;
  border-radius: 5px;
}

  /*Responsive*/
  @media (max-width: 810px) {
    .back-button {
        width: 8rem;
        height: 2.5rem;
        font-size: 1.2rem;
        position: absolute;
        left: -1%;
        top: -1%;
        
    }

    #general-container {
        margin-top: 3rem
    }
    
    #title {
        height: 2rem;
        width: 15rem;
        padding: 0.5rem;
        font-size: 1.3rem;
    }
      
    .dates-select, .packages-select, .users-select {
      align-self: flex-start;
      margin-top: 1rem;
      border: none;
      border-radius: 10px;
      width: 9rem;
  }
  
  .date-income {
    font-size: 14px;
    margin-top: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;background-color: white;
    width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .date-info {
    font-size: 18px;
  }
  
  .package-id{
    font-size: 16px; 
  }
  
  .package-details {
      font-size: 14px;
  }
  
  
  #total-income {
    padding: 0.2rem;
  }
  
  #total-value {
    padding: 0.2rem;
  }
  } 
  
  